
{{outlet}}
  <footer class="footer has-text-grey has-text-centered">
    <span class="is-inline-block">
      <Icon
        @glyph="vmware"
        @size="l"
        aria-hidden="true"
        class="has-text-grey-light" />
      &copy; {{date-format (now) "YYYY"}} VMware Borathon
    </span>
    <span>
      Encryption as a Service
    </span>
    <span>
      Storage VMC Team
    </span>
  </footer>
  <div id="modal-wormhole"></div>
